<h1>Reward System</h1>

<p>Implement a system for calculating rewards based on recommendations of customers.</p>
<h3>Concept:</h3>
<p>A company is planning a way to reward customers for inviting their friends. They're planning a reward
system that will give a customer points for each confirmed invitation they played a part into. The definition
of a confirmed invitation is one where an invited person accepts their contract. Inviters also should be
rewarded when someone they have invited invites more people.
</p>
<p>The inviter gets (1/2)^k points for each confirmed invitation, where k is the level of the invitation: level 0
(people directly invited) yields 1 point, level 1 (people invited by someone invited by the original customer)
gives 1/2 points, level 2 invitations (people invited by someone on level 1) awards 1/4 points and so on.
Only the first invitation counts: multiple invites sent to the same person don't produce any further points,
even if they come from different inviters and only the first invitation counts.
</p>

<p>
  <b>So the input of:</b>
  <pre>
    2018-06-12 09:41 A recommends B
    2018-06-14 09:41 B accepts
    2018-06-16 09:41 B recommends C
    2018-06-17 09:41 C accepts
    2018-06-19 09:41 C recommends D
    2018-06-23 09:41 B recommends D
    2018-06-25 09:41 D accepts
  </pre>
</p>
<p><b>would calculate as:</b></p>
<ul>
  <li>A receives 1 Point from the recommendation of B, ½ Point from the recommendation of C by B and
  another ¼ Point by the recommendation of D by C. A gets a total score of 1.75 Points.</li>
  <li>B receives 1 Point from the recommendation of C and ½ Point from the recommendation of D by C.
  B receives no Points from the recommendation of D because D was invited by C before. B gets a
  total score of 1.5 Points.</li>
  <li>C receives 1 Point from the recommendation of D. C gets a total score of 1 Point.</li>
</ul>


<h2>Solution:</h2>
<p>
  The following sample files can be used:
  <ul>
    <li><a href="/images/sample_1.txt">Sample file 1</a></li>
    <li><a href="/images/sample_2.txt">Sample file 2</a></li>
    <li><a href="/images/sample_3.txt">Sample file 3</a></li>
  </ul>
</p>
<br>
<form action="/rewards/import" method="post" enctype="multipart/form-data">
  <input type="file" id="myFile" name="file">
  <input type="submit">
</form>

<h2>Reference:</h2>
<a href="https://github.com/remohseni/reward-system">Source code in Github</a>

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/github-fork-ribbon-css/0.2.3/gh-fork-ribbon.min.css" />
<a class="github-fork-ribbon" href="https://github.com/remohseni/reward-system" target="_blank" data-ribbon="Fork me on GitHub" title="Fork me on GitHub">Fork me on GitHub</a>
